.search-section input {
  background-color: transparent;
  padding: 1rem;
  border: none;
  color: #fff;
  font-family: Montserrat, sans-serif;
}

.search-section input::placeholder {
  color: #ccc;
}
