.btn {
  /* Estandar botones */
  padding: 0.8rem 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 0;
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.primary-button {
  /* Boton blanco */
  border: 2px solid #fff;
  color: #fff;
}

.primary-button:hover {
  background-color: #fff;
  color: #1e1e1e;
}

.secondary-button {
  /* Boton negro */
  border: 2px solid #1e1e1e;
  color: #1e1e1e;
}

.secondary-button:hover {
  background-color: #1e1e1e;
  color: #fff;
}

.accent-button {
  border: 2px solid #1e1e1e;
  color: #fff;
  background-color: #1e1e1e;
}
.cancel-button {
  border: none;
  color: #1e1e1e;
  background-color: transparent;
}
