.institutional-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.institutional-section:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.institutional-section:nth-child(even) div {
  padding: 0 2rem 0 7rem;
}

.institutional-section:nth-child(even) div hr {
  align-self: end;
}

.institutional-section figure {
  width: 50%;
  object-fit: cover;
}

.institutional-section div {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 7rem 0 2rem;
  font-size: 1.3rem;
  gap: 1rem;
}

.institutional-section figure img {
  width: 100%;
}
