.search-section {
  /* Busqueda */
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  background-color: #1e1e1e;
}

.search-section input {
  background-color: transparent;
  padding: 1rem;
  border: none;
  color: #fff;
  font-family: Montserrat, sans-serif;
}
.search-section input::placeholder {
  color: #ccc;
}
