.title-container {
  align-items: center;
  margin-top: -5rem;
}

.title-section {
  background-color: #999999dc;
  padding: 3rem;
  gap: 1rem;
  align-items: center;
  color: #fff;
  width: 60%;
  text-align: center;
}
.detail-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 3rem;
  margin: 3rem 0;
}
.toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: end;
  width: 100%;
}
.detail-section {
  background-color: #d6d6d6c7;
  width: 50%;
  align-items: start;
  gap: 1.5rem;
  padding: 3rem;
  /* margin: 3rem 0; */
}

.slider-container {
  width: 50%;
}
.slider-container img {
  width: 100%;
  object-fit: cover;
}

.detail-section p {
  font-size: 1.2rem;
}

.services {
  gap: 1.5rem;
}

.slick-arrow::before {
  color: #1e1e1e !important;
}

.rotate {
  transform: rotate(90deg);
  transition: transform 0.3s;
}
.unrotate {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

@media (max-width: 720px) {
  .title-section {
    width: 100%;
  }
  .detail-container {
    flex-direction: column-reverse;
  }
  .detail-container > * {
    width: 100%;
  }
}
