.crud-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #fff;
  padding: 1.5rem;
  margin-top: 3rem;
}
.crud-form .form-group {
  border: 1px solid #ddd;
  position: relative;
  margin-bottom: 1.5rem;
}
.crud-form input,
.crud-form textarea {
  border: none;
  padding: 1rem;
  width: 100%;
  border-radius: 0;
  font-family: Montserrat;
  font-size: 1rem;
}
.crud-form input:focus,
.crud-form textarea:focus,
.crud-form input:active,
.crud-form textarea:active {
  outline: none;
  border-radius: 0;
}
.crud-form label {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  position: absolute;
  top: -1.2rem;
  background-color: #fff;
}
.crud-form .half {
  width: 50%;
}
