.crud-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #fff;
  padding: 1.5rem;
  margin-top: 3rem;
}
.crud-form .form-group {
  border: 1px solid #ddd;
  position: relative;
  margin-bottom: 1.5rem;
}
.crud-form input,
.crud-form textarea {
  border: none;
  padding: 1rem;
  width: 100%;
  border-radius: 0;
  font-family: Montserrat;
  font-size: 1rem;
}
.crud-form input:focus,
.crud-form textarea:focus,
.crud-form input:active,
.crud-form textarea:active {
  outline: none;
  border-radius: 0;
}
.crud-form label:not(.service-label) {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem;
  position: absolute;
  top: -1.2rem;
  background-color: #fff;
}
.crud-form .service-label {
  font-size: 1rem;
}

.crud-form .half {
  width: 50%;
}

.crud-form select {
  border: none;
  padding: 1rem;
  width: 100%;
  border-radius: 0;
  font-family: Montserrat;
  font-size: 1rem;
  appearance: none; /* Remueve el estilo por defecto del selector */
  background-color: #fff;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjAwMDAgMTZMMi4yOTI5MiA3LjI5MjkyTDMuNzA3MDggNS44NzA3NUwxMiAxNC4xNjQ2TDE4LjI5MjkgN0wyMCA4LjQxNTE0TDEyLjAwMDAgMTZMMTEuMDAwMCAxNkMxMS4wMDAwIDE2IDExLjAwMDAgMTYgMTEuMDAwMCAxNlpNMTIuMDAwMCAxNEwxMi4wMDAwIDE0TDEyLjAwMDAgMTRMMTIuMDAwMCAxNEwxMi4wMDAwIDE0TDExLjAwMDAgMTZMMTEuMDAwMCAxNkwxMS4wMDAwIDE2TDEyLjAwMDAgMTRaTTExLjAwMDAgMTZMMTEuMDAwMCAxNkw5Ljk5OTk4IDE0TDIuMjkyOTIgN0wyLjI5MjkyIDdMMTEuMDAwMCAxNkwxMS4wMDAwIDE2WiIgZmlsbD0iIzAwMDAwMCIvPgo8L3N2Zz4K"); /* URL del ícono de la flecha */
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem auto;
}

/* -------------------------------------------------------------------------- */
/*                                  servicios                                 */
/* -------------------------------------------------------------------------- */
.title-secondary {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  border: 1px solid #ddd;
  padding: 0.5rem;
  flex: 1 1 calc(50% - 0.75rem); /* Ajuste para que ocupe 50% del ancho menos el gap */
  max-width: calc(
    50% - 0.75rem
  ); /* Ajuste para que no ocupe más del 50% del ancho */
}

.checkbox-container input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin: 0;
}

.checkbox-container label {
  font-size: 1rem;
  font-family: Montserrat;
  background-color: #fff;
  position: relative;
  top: 0;
}
