nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin: 1rem 0 1rem 1rem;
}

.item-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #1e1e1e;
  font-weight: 600;
}

.navbar {  
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #1e1e1e;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: #1e1e1e;    
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-item {
    margin: 20px 0;
  }

  .item-link {   
    color: #ffff;    
  }
}
