th,
td {
  font-size: 1rem;
}
.crud-table,
.crud-table th,
.crud-table tr,
.crud-table td {
  border: 1px solid #ddd;
  padding: 0.5rem;
}

.crud-table {
  background-color: #fff;
  margin: 1rem 0;
  width: 100%;
  border-collapse: collapse;
}

.crud-table th:first-child,
.crud-table tr td:first-child {
  width: 3rem;
}

.crud-table tr td {
  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}
.crud-table th:last-child,
.crud-table tr td:last-child {
  width: 9rem;
}

.crud-table tr:nth-child(even) {
  background-color: #e6e6e6;
}

.crud-table tr:hover:not(thead tr) {
  background-color: #d6d6d6;
}

.crud-table td .icon-btn {
  font-size: 0.9rem;
}
.crud-table td.flex-center {
  border: none;
}
.crud-table {
  width: 100%;
}

.accommodation-table {
  overflow-x: auto;
}

@media (max-width: 768px) {
  .crud-table th:first-child,
  .crud-table tr td:first-child {
    width: 100%;
  }
  .crud-table,
  .crud-table thead,
  .crud-table tbody,
  .crud-table th,
  .crud-table td,
  .crud-table tr {
    display: flex;
    flex-direction: column;
    border: none;
  }
  .crud-table {
    width: 100%;
  }
  .crud-table .flex-center {
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
  }
  .crud-table thead tr {
    display: none;
  }

  .crud-table tr {
    margin-bottom: 15px;
  }

  .crud-table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  .crud-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}
