.main-title {
  /* Titulo principal */
  font-size: 2.8rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}
.banner {
  /* Estructura basica para los banners*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 40vh;
  color: #fff;
  width: 100%;
}

.section-title {
  /* Titulo para sections */
  font-size: 2.3rem;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

.alter-title {
  /* Titulo pequeño de contraste */
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.m-y {
  /* Estandar de margenes */
  margin: 0 7rem;
}

.p-y {
  /* Lo mismo pero version padding */
  padding: 0 7rem;
}
.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}

.main-content,
.content-section,
.banner {
  /* Centra vertical y horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-section {
  /* Puse los margenes por separado pq sino m-y los pisa*/
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 1.5rem;
}

.main-content p,
.content-section p {
  /* Regula los parrafos */
  font-size: 1.2rem;
  text-align: center;
  max-width: 60%;
  text-wrap: pretty;
}

hr:not(.long-line) {
  /* Linea decorativa */
  border: 1px solid #000;
  width: 5rem;
}

.center-text {
  text-align: center;
}
