th,
td {
  font-size: 1rem;
}
.crud-table,
.crud-table th,
.crud-table tr,
.crud-table td {
  border: 1px solid #ddd;

  padding: 0.5rem;
}

.crud-table {
  background-color: #fff;
  margin: 1rem 0;
  width: 100%;
  border-collapse: collapse;
}

.crud-table th:first-child,
.crud-table tr td:first-child {
  width: 3rem;
}
.crud-table th:last-child,
.crud-table tr td:last-child {
  width: 9rem;
}

.crud-table tr:nth-child(even) {
  background-color: #e6e6e6;
}

.crud-table tr:hover {
  background-color: #d6d6d6;
}

.crud-table td .icon-btn {
  font-size: 0.9rem;
}

.crud-table td.flex-center {
  border: none;
}
.crud-table {
  width: 100%;
}
@media (max-width: 900px) {
  /* td.flex-con {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  .flex-con .section-title {
    text-align: left;
  } */
}
@media (max-width: 900px) {
  .crud-table thead tr {
    /* display: none; */
  }
  .crud-table tbody tr {
    /* display: flex;
    flex-direction: column; */
  }
  .crud-table tbody tr::before {
    content: attr(data-label);
  }
}
