th,
td {
  font-size: 1rem;
}
table,
th,
tr,
td {
  border: 1px solid #ddd;

  padding: 0.5rem;
}

table {
  background-color: #fff;
  margin: 1rem 0;
  width: 100%;
  border-collapse: collapse;
}

table th:first-child,
table tr td:first-child {
  width: 3rem;
}
table th:last-child,
table tr td:last-child {
  width: 9rem;
}

tr:nth-child(even) {
  background-color: #e6e6e6;
}

tr:hover {
  background-color: #d6d6d6;
}

td .icon-btn {
  font-size: 0.9rem;
}

td.flex-center {
  border: none;
}
table {
  width: 100%;
}
@media (max-width: 900px) {
  /* td.flex-con {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  .flex-con .section-title {
    text-align: left;
  } */
}
@media (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr {
    margin-bottom: 15px;
  }

  td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  /* td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  } */
}
